
p,h1,h2,h3,h4,h5,h6{ margin: 0; }
body{
		margin: 0;
		width: 100%;
		height: 1000px;
		background: #848484;
	}
header{
		margin: auto;
		height: 30%;
		width: 100%;
		background-color: #FE2E2E;
	  }
nav{
		margin: auto;
		height: 5%;
		width: 100%;
		background-color: #F7FE2E;
	}
section{
			margin: auto;
			height: 60%;
			width : 60%;
			background-color: #00FFFF;

		}
footer{
		height: 10%;
		width: 100%;
		background-color: #64FE2E;

	}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
img {vertical-align: middle;}
