p,h1,h2,h3,h4,h5,h6{ margin: 0; }
body{
		margin: 0;
		width: 100%;
		height: 1000px;
		background: #546E7A;
}
/* Clases */
nav{
		margin: 0;
        padding: 0;
		background-color: #546E7A;
		height: 7%;
		margin-bottom: 0px;
        position: fixed;
        z-index: 100;
	}
header{
		margin: auto;
		background-color: #37474F;
		height: 33%;
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
        
	  }

section{
			margin: auto;
			height: 100%;
			width : 100%;
			background-color: #F5F5F5;
                        

		}
footer{
		height:20%;
		width: 100%;
		background-color: #37474F;

	}
#activo{
	   background-color: #F7F9F9;
}
#map {
    height: 980px;
    width: 20%;
    margin-left: 8px;
    margin-top: 8px;
    position:absolute;
    background: #F5F5F5; 
}
#graf{
    width: 810px;
    height: 300px;
    margin-left: 24%;
    margin-top: 8px;
    position: absolute;
    background: blue;
    /*background: #F5F5F5;*/
}
#contacto{
    height: 185px;
    width: 30%;
    margin-left: 68%;
    margin-top: 8px;
    position:absolute;
    background: blue;
}