/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
.titulo1{
    font-family:'JosefinSans'; 
}
.subtitulo1{
    font-family:'Ubuntu'; 
}
.texta{
                font-family:'Niramit';
            }
.textb{
                font-family:'Montserrat';
            }
/* 
    Created on : 19-10-2018, 16:26:03
    Author     : Juan Andres
*/

