p,h1,h2,h3,h4,h5,h6{ margin: 0; }
body{
		margin: 0;
		width: 100%;
		height: 1000px;
		background: #546E7A;
}
/* Clases */
nav{
		margin: 0;
        padding: 0;
		background-color: #546E7A;
		height: 8%;
		margin-bottom: 0px;
        position: fixed;
        z-index: 100;
	}
header{
		margin: auto;
		background-color: #37474F;
		height: 30%;
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
        
	  }

section{
			margin: auto;
			height: 100%;
			width : 85%;
			background-color: #F5F5F5;

		}
footer{
		height: 15%;
		width: 100%;
		background-color: #37474F;

	}
#activo{
	background-color: red;
}