p,h1,h2,h3,h4,h5,h6{ margin: 0; }
body{
		margin: 0;
		width: 100%;
		height: auto;
        /*background-color: #808B96;*/
}
/* Clases */
nav{
		margin: 0;
        height: 8%;
		margin-bottom: 0px;
        background-color: #FFFFFF;
	}
header{
		margin: auto;
		background-color: #000000;
		/*height: 30%;*/
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
        
	  }

section{
			margin: auto;
			/*height: 100%;*/
			width : 60%;
			background-color: #FFFFFF;
		}
footer{
		/*height: 15%;*/
		width: 100%;
		background-color:#000000;

	}
#map { 
    height: 30%; 
    width: 100%; 
    margin: auto; 
}
#texto{
     text-align: justify;
}

     