body{
		height: 1000px;
		width: 100%;
	}
/* Clases */
.Header{
		margin: 0;
		background-color: #FE2E2E;
		height: 30%;
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;

	  }
.Nav{
		margin: 0;
		/*background-color: #AEB6BF;*/
		height: 5%;
		margin-bottom: 0px;
	}
.Section{	
			margin-top: 0px;
			margin: 0;
			background-color: #00FFFF;
			width: 100%;

		}
.Footer{
		height: 10%;
		width: 100%;
		background-color: #64FE2E;

	}
